body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #a4d2f8;
  background-image: url(images/frontbanner.PNG);
  color: white;
  padding: 60px;
  text-align: center;
}
main {
  padding: 20px;
}
.restaurant, 
.menu-item {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;  
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; 
  padding: 20px;
}
.menu-img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;

  display: block;
}
button {
  background-color: #f1400a;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
}
button:hover {
  background-color: #c4c715;
}
.cart {
  margin-top: 30px;
  border-top: 2px solid #ddd;
  padding-top: 10px;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.modal-buttons {
  margin-top: 15px;
}

.modal-buttons button {
  padding: 8px 16px;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #28a745; 
  color: #fff;
}

.modal-buttons button:last-child {
  background-color: #dc3545; 
  color: #fff;
}

#successModal .modal-content button {
  background-color: #28a745;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
}
.text-button {
  background: none;
  border: none;
  color: #eb3d26;       
  padding: 0;
  font: inherit;        
  cursor: pointer;
  
}

.text-button:hover {
  color: #0056b3;
  text-decoration: none;
}

